@import "tailwindcss";

body {
  font-family: "Montserrat", sans-serif;
}


/*.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/


/* Home.css */
.hero-overlay {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border: 2px solid #f97316;
  background-color: #4b5563;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.6);
}

.swiper-pagination-bullet-active {
  background-color: #f97316;
}

.swiper-button-prev,
.swiper-button-next {
  color: #f97316;
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
  border-radius: 50%;
  border: 2px solid #f97316;
  padding: 12px;
  width: 50px;
  height: 50px;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #ea580c;
  background-color: rgba(0,0,0,0.6);
}

