@import "tailwindcss";

body {
  font-family: "Poppins", sans-serif;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/* Home.css */
.hero-overlay {
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border: 2px solid #f97316;
  background-color: #4b5563;
  box-shadow: inset 0 0 2px rgba(0,0,0,0.6);
}

.swiper-pagination-bullet-active {
  background-color: #f97316;
}

.swiper-button-prev,
.swiper-button-next {
  color: #f97316;
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
  border-radius: 50%;
  border: 2px solid #f97316;
  padding: 12px;
  width: 50px;
  height: 50px;
  top: 50%; /* centraliza verticalmente */
  transform: translateY(-50%);
}

 /* Afasta lateralmente */
  .swiper-button-prev {
    left: 50px; /* distância da esquerda */
  }

  .swiper-button-next {
    right: 20px; /* distância da direita */
  }

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: #ea580c;
  background-color: rgba(0,0,0,0.6);
}


@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
